/* Основные стили для дизайна */

body {
    background-color: #121212; /* Темный фон */
    color: #e0e0e0; /* Светлый текст */
    font-family: Arial, sans-serif;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85); /* Темный полупрозрачный фон */
}

#modal-content {
    background-color: #333; /* Темный фон модального окна */
    color: #f5f5f5;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #555; /* Темная граница */
    width: 80%;
    border-radius: 10px; /* Скругленные углы */
}

.close {
    color: #ccc; /* Светлый цвет для кнопки закрытия */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff6b6b; /* Цвет при наведении */
    cursor: pointer;
}

h1, h2 {
    font-family: Impact, fantasy;
    color: #e6e6e6;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 300;
}

p {
    font-family: DejaVu Sans Mono, monospace;
    color: #ff9d9d;
}

header {
    background-color: #1c1c1c; /* Темный фон для шапки */
}

header p {
    font-family: Courier New, monospace;
    color: #b0b0b0;
}

td {
    background-color: #2d2d2d; /* Темный фон для ячеек */
    color: #00ff87;
    border: 3px double #333;
}

#formBody {
    background-color: #242424;
    color: #e0e0e0;
    border-radius: 15px;
    display: flex;
    position: absolute;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
}

#siteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    color: #bdbdbd;
}

#navBar {
    background-color: #333;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

aside {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

.link {
    color: #a3a3a3;
    text-decoration: none;
}

.link:hover {
    color: #ff6b6b;
}

.link:active {
    color: #00ffd5;
}

.back-to-top {
    background-color: #ff00c8;
    color: #fff;
}

main {
    background-color: #181818;
}

.itemCards {
    background-color: #2b2b2b;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 20px;
    box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.2);
}

.itemCards:hover {
    background-color: #333;
}

.orderButton {
    background: #111;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    border: none;
}

.orderButton:hover:before {
    opacity: 1;
}

.grid-container {
    gap: 10px;
    padding: 20px;
}

.formLabel {
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
}

@media (min-width: 320px) and (max-width: 800px) {
    aside {
        display: none;
    }

    #navul {
        column-gap: 0;
    }

    .grid-container {
        display: block;
    }

    img {
        max-width: 100%;
    }

    #navBar {
        background-color: #1a1a1a;
    }
}
